<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="css/profile.css" type="text/css" rel="stylesheet">

    <!-- Optional JavaScript - ->
    <!- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load Charts and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Draw the pie chart for Sarah's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawVoteChart);

      // Draw the pie chart for the Anthony's pizza when Charts is loaded.
      google.charts.setOnLoadCallback(drawBarChart);

      // Callback that draws the pie chart
      function drawVoteChart() {

        // Create the data table.
        var piedata = new google.visualization.DataTable();
        piedata.addColumn('string', 'Vote Type');
        piedata.addColumn('number', 'Count');
        piedata.addRows([
          ['U', <%- JSON.stringify(upvotes) %>],
          ['D', <%- JSON.stringify(downvotes) %>],
        ]);

        // Set chart options
        var pieoptions = {'title':'Reputation Breakdown',
                       'width':290,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var piechart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        piechart.draw(piedata, pieoptions);
      }

      // Callback that draws the pie chart for Anthony's pizza.
      function drawBarChart() {

        // Create the data table for Anthony's pizza.
        var bardata = new google.visualization.DataTable();
        var counts = <%- JSON.stringify(dayArr) %>
        bardata.addColumn('string', 'Days Ago');
        bardata.addColumn('number', 'Count');
        bardata.addRows([
          ['19', counts[0]],
          ['18', counts[1]],
          ['17', counts[2]],
          ['16', counts[3]],
          ['15', counts[4]],
          ['14', counts[5]],
          ['13', counts[6]],
          ['12', counts[7]],
          ['11', counts[8]],
          ['10', counts[9]],
          ['9', counts[10]],
          ['8', counts[11]],
          ['7', counts[12]],
          ['6', counts[13]],
          ['5', counts[14]],
          ['4', counts[15]],
          ['3', counts[16]],
          ['2', counts[17]],
          ['1', counts[18]],
          ['0', counts[19]]
        ]);

        // Set options for Anthony's pie chart.
        var baroptions = {title:'Post counts for the last 20 days',
                       width:500,
                       height:300};

        // Instantiate and draw the chart for Anthony's pizza.
        var barchart = new google.visualization.ColumnChart(document.getElementById('barchart_div'));
        barchart.draw(bardata, baroptions);
      }
    </script>

    <title>AskBen: Profile</title>
  </head>
  <body style="background-color: white">

    <script>
      var posts = <%- JSON.stringify(posts) %>;
      var answers = <%- JSON.stringify(answers) %>;

      console.log('Posts: ');
      console.log(posts);

      console.log('Answers: ');
      console.log(answers);

      $(document).ready(function() {
        for (i = 0; i < posts.length; i++) {
          var question = "<div class='card' style='width: 45rem; margin-top: 15px; font-size: 18px; align-self: center;'><div class='card-body' style='padding-bottom: 0px;'><a href='/home/post-" + posts[i].post_id +"'>"+ posts[i].header +"</a><p style='float: right;'> Downvotes: &nbsp "+ posts[i].downvote_count +"</p><p style='float: right;'> Upvotes: &nbsp "+ posts[i].upvote_count +"&nbsp &nbsp &nbsp &nbsp</p></div></div>";
          $('#questions').append(question);
        }

        for (i = 0; i < answers.length; i++) {
          var answer = "<div class='card' style='width: 45rem; margin-top: 15px; font-size: 18px; align-self: center;'><div class='card-body' style='padding-bottom: 0px;'><a href='/home/post-" + answers[i].post_id +"'> "+ answers[i].content +" </a><p style='float: right;'> Downvotes: &nbsp"+ answers[i].downvotes +"</p><p style='float: right;'> Upvotes: &nbsp "+ answers[i].upvotes +"&nbsp &nbsp &nbsp &nbsp</p></div></div>";
          $('#answers').append(answer);
        }

      });

    </script>

    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/home"><img src="/assets/ben_frank.png" style="width: 50px; height: 45px;"></a>
        <div class="collapse navbar-collapse" id="navbarText">
          
          <ul class="main-nav navbar-nav mr-auto">
            <li class="home nav-item">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="profile nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notifications</a>
            </li>
          </ul>

          <span class="navbar-text">
            <form method="post" action="/logout">
              <button type="submit" class="btn btn-light">Signout</button>         
            </form>
          </span>

        </div>
      </nav>
    </div>

    <div class="container-fluid main-container" style="margin-left: 300px; margin-top: 30px;">

      <div class="modal" tabindex="-1" role="dialog" id="profile-modal">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"> Change your profile image </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input id="profile-image" type="image" name="profilePicture" src="/assets/profile_pic.png" style="width: 200px; height: 200px; display: block; margin: auto;" onchange="updateProfileImage()">
              </div>
              <div class="modal-footer">

                <form class="form-container" action="/upload" method="post">
                  <input id="input-image" type="file" name="picture" style="float: left;" onchange="previewFile()">
                  <div>
                    <button id = "upload-btn" type="submit" class="btn btn-primary" data-dismiss="modal" style="width: 208px; height: 35px; margin-top: 15px;"> Upload </button>
                  </div>
                  
                </form>
                
              </div>
            </div>
          </div> 
      </div>

      <div class="card profile-card" style="width: 50rem;"">
            <div class="card-body"  style="padding: 15px;">

              <div class="container" style="width:200px;height:200px; float: left;">
                <img class="profile-pic" id="profile-pic" src="/assets/profile_pic.png" style="width:200px;height:200px;">
              </div>

              <div style="float: left; margin-left: 35px;width:530px;height:200px;">
                  <div>
                    <h4 id="username" style="display: inline-block; margin-bottom: 10px; vertical-align: baseline;" contenteditable="false"> Sample Profile Username </h4> &nbsp; 
                  </div> 
                  <div style="margin-bottom: 7px;">
                    <h6 style="display: inline-block; margin-bottom: 4px; vertical-align: middle;"> Major: </h6> <h7 id="major" style="display: inline-block; margin-bottom: 4px; vertical-align: middle;" contenteditable="false"> Major </h7> &nbsp;
                  </div>
                  <div style="margin-bottom: 7px;">
                    <h6 style="display: inline-block; margin-bottom: 4px; vertical-align: middle;"> Year: </h6> <h7 id="year" style="display: inline-block; margin-bottom: 4px; vertical-align: middle;" contenteditable="false"> Year </h7> &nbsp;
                  </div>
                  <div style="margin-bottom: 7px;">
                    <h6 style="display: inline-block; margin-bottom: 4px; vertical-align: middle;"> From: </h6> <h7 id="location" style="display: inline-block; margin-bottom: 4px; vertical-align: middle;" contenteditable="false"> From </h7> &nbsp; 
                  </div>
                  <div style="margin-bottom: 7px;">
                    <h6 style="display: inline-block; margin-bottom: 4px; vertical-align: middle;"> Brief Description: </h6> <div> <h7 id="description" style="margin-bottom: 4px; vertical-align: middle;" contenteditable="false"> Brief Description: </h7> &nbsp;</div>
                  </div>
              </div>
            </div>
      </div>

      <div class="card" style="width: 50rem; margin-top: 15px; font-size: 18px;"">
        <div class="card-header" style="padding-bottom: 3px; padding-top: 3px;">
          Reputation
        </div>

        <div class="card-body">
        </div>
      </div>

      <div class="card" style="width: 50rem; margin-top: 15px; font-size: 18px;"">
        <div class="card-header" style="padding-bottom: 3px; padding-top: 3px;">
          Analytics
        </div>

        <table class="columns">
              <tr>
                <td><div id="piechart_div" style="border: 1px solid #ccc"></div></td>
                <td><div id="barchart_div" style="border: 1px solid #ccc"></div></td>
              </tr>
        </table>
        
      </div>

      <div class="card" style="width: 50rem; margin-top: 15px; font-size: 18px;"">
        <div class="card-header" style="padding-bottom: 3px; padding-top: 3px;">
          Answers
        </div>

        <div class="card-body" style="align-self: center;">

          <ul id="answers" style="padding-left: 0px;">
          </ul>

        </div>
      </div>

      <div class="card" style="width: 50rem; margin-top: 15px; font-size: 18px;"">
        <div class="card-header" style="padding-bottom: 3px; padding-top: 3px;">
          Questions posted
        </div>

        <div class="card-body" style="align-self: center;">

          <ul id="questions" style="padding-left: 0px;">
          </ul>

        </div>
      </div>

      <div class="card" style="width: 50rem; margin-top: 15px; font-size: 18px;"">
        <div class="card-header" style="padding-bottom: 3px; padding-top: 3px;">
          Tags used
        </div>

        <div class="card-body">
          Sample data for most used tags
        </div>
      </div>
    
    <script type="text/javascript">
          $( document ).ready(function() { 

            $('.nav li').on('click', function() {
              $('.nav li').removeClass('active');
              $(this).addClass('active');
            });


            // Fill in the profile page fields 
            var email = <%- JSON.stringify(email) %>;
            var username =  (<%- JSON.stringify(username) %> != null ? <%- JSON.stringify(username) %> : 'Enter a username');
            var major =(<%- JSON.stringify(major) %> != null ? <%- JSON.stringify(major) %> : 'Enter a major');
            var year = (<%- JSON.stringify(year) %> != null ? <%- JSON.stringify(year) %> : 'Enter a year');
            var city = (<%- JSON.stringify(city) %> != null ? <%- JSON.stringify(city) %> : 'Enter a city');
            var description = (<%- JSON.stringify(description) %> != null ? <%- JSON.stringify(description) %> : 'Enter a description');
            
            console.log(username);
            console.log(major);
            console.log(year);
            console.log(city);
            console.log(description);

            $('#username').text(username);
            $('#major').text(major);
            $('#year').text(year);
            $('#location').text(city);
            $('#description').text(description);

            $('.editable-info').on('click', function() {
              var id = '';
              var field = '';

              if (this.id == 'edit-username') {
                id = '#username';
                field = 'username';
              } else if (this.id == 'edit-major') {
                id = '#major';
                field = 'major';
              } else if (this.id == 'edit-year') {
                id = '#year';
                field = 'year';
              } else if (this.id == 'edit-location') {
                id = '#location';
                field = 'city';
              } else if (this.id == 'edit-description') {
                id = '#description';
                field = 'description';
              }

              if ($(id).attr('contenteditable') == 'false') {
                console.log('false');
                $(id).attr('contenteditable', true);
                $(id).css('outline', '1px solid');
              } else {
                console.log('true');
                $(id).attr('contenteditable', false);
                $(id).css('outline', '0px transparent');
              }
              
              $(id).keypress(function(e) {
                if (e.which == 13) {
                  console.log('Pressed enter');
                  $(id).attr('contenteditable', false);
                  $(id).css('outline', '0px transparent');
                  $.ajax({
                    type: "POST",
                    url: '/updateInfo',
                    data: {email: email, update: $(id).text(), ispassword: 'no', field: field}
                  });
                }
              });
            });


            $('#upload-btn').on('click', function() {
              console.log('clicked')
              console.log($('input[type=file]').val());
              document.querySelector('#profile-pic').src = document.querySelector('#profile-image').src;
            });

          });

          function previewFile() {
            var input = document.querySelector('#input-image');
            var preview = document.querySelector('#profile-image');
            var file    = document.querySelector('input[type=file]').files[0];
            var reader  = new FileReader();

            reader.addEventListener("load", function () {
              preview.src = reader.result;
              console.log(preview.src);
            }, false);

            if (file) {
              reader.readAsDataURL(file);
            }  
          }

          function updateProfileImage() {
            // Code to update the server
          }
    </script>

  </body>