<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/signup.css" type="text/css" rel="stylesheet"> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>AskBen: Home</title>
    
  </head>

  <body style="background-color: white;"> 
    <script>
      var allTags = <%- JSON.stringify(tags) %>;
      var upvotes = <%- JSON.stringify(upvotes) %>;
      var downvotes = <%- JSON.stringify(downvotes) %>;
      var username = <%- JSON.stringify(username) %>;
      var user = <%- JSON.stringify(user) %>;
      var post_ids = <%- JSON.stringify(postIDs) %>;
      var posts = <%- JSON.stringify(posts) %>;
      var comments = <%- JSON.stringify(comments) %>;
      var commentsInfo = <%- JSON.stringify(commentsInfo) %>;
      var email_info = <%- JSON.stringify(email_info) %>;
      var notifications = <%- JSON.stringify(notifications) %>;
      var loading = <%- JSON.stringify(load) %>;
      var hash = <%- JSON.stringify(hash) %>;
      
      console.log('Hash:');
      console.log(hash);
      console.log(username);
      console.log(user);
      console.log(comments);
      console.log(commentsInfo);
      console.log(upvotes);
      console.log(downvotes);
      console.log('Tags:');
      console.log(allTags);
      console.log('Notifications:');
      console.log(notifications);
      console.log('Loading:');
      console.log(loading);
      var currentID = 0;
      var currentRequestor;

      $( document ).ready(function() {

        if (!hash.includes('post')) {
          console.log('Filtering---------');

          if (hash === 'earliest') {
            console.log('earliest');
            $('#v-pills-earliest-tab').addClass('active');
          } else if (hash === 'oldest') {
            console.log('oldest');
            $('#v-pills-oldest-tab').addClass('active');
          } else if (hash === 'highestRated') {
            console.log('highestRated');
            $('#v-pills-highest-tab').addClass('active');
          } else if (hash === 'lowestRated') {
            console.log('lowestRated');
            $('#v-pills-lowest-tab').addClass('active');
          } 

        }

        if (notifications.length > 0) {
          var num = notifications.length ;
          $('#notification-list').prepend("<div id='notify-indicator'> <img src='/assets/notification.png' width='20px' height='20px' style='position: absolute; top: 2px; left: 100px';> <p id='num-notifications' style='color: white; position: absolute; top: 3px; left: 106px; font-size: 13px; text-align: center'>" + num + "</p> </div>");
        } else {
          var noNotification =  "<div>  <a class='dropdown-item' href='#' style='padding-left: 15px;'> No new notifications </a> </div> ";
          $('#notifications').append(noNotification);
        }
        
        for(i = 0; i < notifications.length; i++) {
          var text = "";
          if(notifications[i].type == 0) {
            text = notifications[i].notifier_name + " downvoted your post";
          } else if(notifications[i].type == 1) {
            text = notifications[i].notifier_name + " upvoted your post";
          } else if(notifications[i].type == 2) {
            text = notifications[i].notifier_name + " answered your post";
          } else if(notifications[i].type == 3) {
            text = notifications[i].notifier_name + " sent you a friend request";
          } 
          console.log("notification info");
          console.log(notifications[i].email);
          console.log(notifications[i].type);
          var newNotification = "<li id='list-"+ notifications[i].notification_id +"'> <a id='notification-" + notifications[i].notification_id + "-" + notifications[i].notifier + "-" + notifications[i].type + "' class='dropdown-item active' href='#post-"+ notifications[i].post_id +"' style='padding-left: 15px;'>"+ text +"</a> </li>";
          $('#notifications').append(newNotification);
        }

        $( ".dropdown-item" ).click(function() {
          console.log('Clicked me!...............');
          console.log(this.id);
          var id = this.id.replace('notification-','');
          var temp1 = id.split('-');
          var notificationID = parseInt(temp1[0]);
          var requestor = temp1[1];
          var type = temp1[2];
          var listIndex = '#list-' + notificationID;
          console.log("notification ID:" + notificationID);
          console.log("requestor:" + requestor);
          console.log("type: " + type);

          //$('#'+this.id).removeClass('active');
          console.log("does it reach here?");

          notifications.splice(listIndex,1);
          var num = notifications.length ;

          if(num == 0) {
            $('#notify-indicator').remove();
          } else {
            $('#num-notifications').text(notifications.length);
          }

          if (type == 3) {
            currentRequestor = requestor;
            $('#friendAccept-modal').modal('show');
          }
          
          $.ajax({
            type: "POST",
            url: '/deleteNotification',
            data: {notification_id: notificationID}
          }); 
        });

        function loadNextSetOfPosts(low, high) {
          console.log("Error------------------------------------------------------------------------");
          console.log(posts);
          for(i = high; i >= low; i--) {
                console.log(high);
                console.log(low);
                console.log(posts[i]);
                var id = i+1;
                var top = "<div class='card card-spacing' style='width: 40rem; position: relative;' reputation='0' toggled='0'> <div class='card-body card-head'><a id='post-"+id+"' name='post-"+id+"'class='card-link card-col card-question' href='#' style='color: black;'>" + posts[i].header + "</a> <p class=card-text card-col' style='color: black;'>" + posts[i].content + "</p> <h9 class='card-text card-col'> By: </h9> <a href='/viewProfile/" + posts[i].email + "' style='color: black'>" +  posts[i].email + "</a> </div> <div class='card-col tags'> <ul id='tags-list-" + id + "' style='padding-left: 14px;'> <div> <hr style='margin-bottom:0;padding-bottom:0; width: 600px;'> </div> </ul> </div><div class='card-body vote'> <div class='container-fluid' style='padding: 0px; width: 38px; float: left;'> <div> <a id='upvote-" + id + "' class='card-link link-size arrow arrow-up' style='display: block; margin-bottom: 8px; cursor: pointer;'> </a> </div><div> <a id='downvote-" + id + "' class='card-link link-size arrow arrow-down' style='display: block; cursor: pointer;'> </a> </div></div><div class='container-fluid' style='height: 50px; width: 50px; display: inline-block; padding-left: 3px;'> <h4 id='vote-count-" + id + "' class='card-text card-col' style='position: relative; top: 18%'> 0 </h4></div> <button class='btn btn-primary' type='button' data-toggle='collapse' data-target='#collapse-comments-" + id + "' aria-expanded='false' aria-controls='collapse-comments-" + id + "' style='float: right; margin-top: 8px; height: 35px;'>Answers </button> <button id=" + "'" + id + "'" + " type='button' class='btn btn-primary answer' style='float: right; margin-top: 8px; height: 35px; margin-right: 3px;' data-toggle='modal' data-target='#ans-modal'> Add Answer </button> <button id='editpost-" + id + "' type='button' class='btn btn-primary edit-question' style='float: right; margin-top: 8px; height: 35px; margin-right: 3px;' data-toggle='modal' data-target='#edit-question-modal' > Edit Question </button> </div> <div class='collapse' id='collapse-comments-" + id + "'> <div class='card-footer card-content' style='padding: 0px;'><div class='card' style='width: 40rem; padding: 0px;'><div class='card-footer card-content' style='padding: 0px;'><div class='card' style='width: 40rem; padding: 0px;'><div class='card-body' style='padding: 10px; padding-top: 20px; padding-bottom: 20px;'><div class='question-input input-group mb-3' style='color: black'> <ul class='comments' id=" + "'" + 'comment-' + id + "'" + ">";
                
                // Generate comments list in string mode
                var commentList = '';
                for(j = commentsInfo[i].length-1; j >= 0; j--) {
                  var comment = '<div> <img src="/assets/ben_frank.png" style="width: 50px; height: 50px;"> <div class="card" style="width: 30rem; padding: 0px; color: black; display: inline-block; margin-bottom: 20px;">'+ (email_info[i])[j] + ': ' + (commentsInfo[i])[j] + ' </div>  </div>';
                  console.log((commentsInfo[i])[j]);
                  commentList = commentList + comment;
                }


                var bottom = '</ul></div></div></div></div></div></div></div>';

                var card = top + commentList + bottom;

                $('.posts').append(card);

                // Update upvote and downvote status for current user
                if (upvotes[i].length > 0 || downvotes.length > 0) {
                  // Set current counter
                  var voteID = '#vote-count-' + id;
                  var currCount = upvotes[i].length - downvotes[i].length;
                  $(voteID).text(currCount.toString());

                  var userVotedUp = false;
                  console.log(upvotes[i].length);
                  if (upvotes[i].length > 0) {
                    for (j = 0; j < upvotes[i].length; j++) {
                      console.log('Server: ' + (upvotes[i])[j].email);
                      console.log('Local: ' + user);
                      if ((upvotes[i])[j].email == user) {
                        userVotedUp = true;
                        break;
                      }
                    }
                  }
                  
                  console.log(downvotes[i].length);
                  var userVotedDown = false;
                  if (downvotes[i].length > 0) {
                    for (k = 0; k < downvotes[i].length; k++) {
                      console.log('Server: ' + (downvotes[i])[k].email);
                      console.log('Local: ' + user);
                      if ((downvotes[i])[k].email == user) {
                        userVotedDown = true;
                        break;
                      }
                    }
                  }
                  
                  console.log(upvotes[i].length);
                  console.log(userVotedUp);

                  console.log(downvotes[i].length);
                  console.log(userVotedDown);
                  if (userVotedUp) {
                    var upvoteID = '#upvote-' + id;
                    $(upvoteID).prop('disabled', true);
                    $(upvoteID).css('opacity', 1);
                  } else if (userVotedDown) {
                    var downvoteID = '#downvote-' + id;
                    $(downvoteID).prop('disabled', true);
                    $(downvoteID).css('opacity', 1);
                  }
                }

                // Populate hashtags
                var tagID = '#tags-list-' + id; 
                console.log(allTags[i]);
                for(k = 0; k < allTags[i].length; k++) {
                  var tagBtn = "<a href='/tags/"+ (allTags[i])[k] +"' class='' btn btn-sm tag' style='margin-left: 6px; margin-top: 10px; padding:4px; background:black; border-radius: 10px; font-size: 12px;' type='button'>" + "#" + (allTags[i])[k] + "</a>";
                  $(tagID).append(tagBtn);
                }  

                if (posts[i].email != user) {
                  console.log("HIDING EDIT QUESTION")
                  document.getElementById('editpost-' + id).style.visibility = "hidden";
                } 

              }
                // Load via see more btn
                $('#see-more').click(function() {
                  load();
                }); 

                $( ".card" ).each(function(i) {
                  $(this).find("#rep-number").text($(this).attr('reputation'));
                });

                $( ".answer" ).click(function() {
                  currentID = this.id;
                  console.log(currentID);
                });

                $( ".edit-question" ).click(function() {
                  currentID = this.id.substring(9);
                  console.log("string ID -----------------------------------------------------> : " + this.id);
                  console.log("current ID -----------------------------------------------------> : " + currentID);
                  document.getElementById("input-question-edit").value = posts[currentID-1].header;
                  document.getElementById("input-expl-edit").value = posts[currentID-1].content;
                  $.ajax({
                      type: "POST",
                      url: '/passID',
                      data: {id: currentID}
                    }); 
                });

                $( ".ans-btn" ).click(function() {
                  console.log('Modal answer');
                  console.log($('#input-ans').val());
                  console.log(currentID);

                  var comment = '<div> <img src="/assets/ben_frank.png" style="width: 50px; height: 50px;"> <div class="card" style="width: 30rem; padding: 0px; color: black; display: inline-block; margin-bottom: 20px;">' + $('#input-ans').val() + ' </div>  </div>';
                  var commentID = '#comment-' + currentID;

                  $(commentID).append(comment);
                  $.ajax({
                    type: "POST",
                    url: '/postAnswer',
                    data: {post_id: currentID, ans_content: $('#input-ans').val()}
                  });         
                });

                $( ".accept-btn" ).click(function() {
                  $.ajax({
                    type: "POST",
                    url: '/acceptFriend',
                    data: {requestor: currentRequestor}
                  });         
                });

                $('.home').addClass('active');

                $(".arrow-up").on('click', function() {

                  var change = 0;

                  var post = true;

                  var arrowID = this.id.replace('upvote-', '');
                  console.log(arrowID);

                  var voteID = '#vote-count-' + arrowID;
                  var currCount = parseInt($(voteID).text());

                  var otherArrow = '#downvote-' + arrowID;

                  if (this.disabled === undefined || this.disabled == false) {
                    this.style.opacity = '1';
                    this.disabled = true;

                    if ($(otherArrow).prop('disabled')) {
                      console.log('First');
                      $(otherArrow).prop('disabled', false);
                      $(otherArrow).css('opacity', '0.1');
                      currCount = currCount + 2;
                      change = 2;
                    } else {
                      console.log('Second');
                      currCount = currCount + 1;
                      change = 1;
                    }

                    $(voteID).text(currCount.toString());
                    console.log('Up');
                    $.ajax({
                      type: "POST",
                      url: '/postVote',
                      data: {post_id: arrowID, vote: true, change: change}
                    }); 
                  }
                   
                });

                $(".arrow-down").on('click', function() {
                  var change = 0;
                           
                  var arrowID = this.id.replace('downvote-', '');
                  console.log(arrowID);

                  var voteID = '#vote-count-' + arrowID;
                  var currCount = parseInt($(voteID).text());

                  var otherArrow = '#upvote-' + arrowID;
                  
                  if (this.disabled === undefined || this.disabled == false) {
                    this.style.opacity = '1';
                    this.disabled = true; 
                    
                    if ($(otherArrow).prop('disabled')) {
                      console.log('First');
                      $(otherArrow).prop('disabled', false);
                      $(otherArrow).css('opacity', '0.1');
                      currCount = currCount - 2;
                      change = -2;
                    } else {
                      console.log('Second');
                      currCount = currCount - 1;
                      change = -1;
                    }          

                    $(voteID).text(currCount.toString());          
                    console.log('Down');
                    $.ajax({
                      type: "POST",
                      url: '/postVote',
                      data: {post_id: arrowID, vote: false, change: change}
                    });  
                  }
                  
                });

                if (hash.length > 0) {
                  var anchor = "#" + hash;
                  location.hash = anchor;
                }
        }

        var counter = 0;
        var high = posts.length-1;
        var low = ((posts.length*3)/4);

        function load() {
          loadNextSetOfPosts(parseInt(low,10), parseInt(high,10));
          high = low - 1;
          if (low - 10 < 0) {
            low = 0;
          } else {
            low = low - 10;
          }
        }

        if (loading) {
          low = 0;
          load();
        } else {
          load();
        }

        $("#save-draft").click(function() {
          var header = document.getElementById("input-question").value;
          var content = document.getElementById("input-expl").value;
          if (header == "" || content == "") {
            console.log("no draft to save.");
            document.getElementById("draft-alert").innerHTML = "Please input something in the header and content.";
          } else {
            $.ajax({
              type: "POST",
              url: '/saveDraft',
              data: {header: header, content: content}
            });
            console.log("saved draft is: ", header, " ", content);
            document.getElementById("draft-alert").innerHTML = "Your draft has been saved!";
          }
          
        });

        $("#load-drafts").click(function() {

        });

        $("#cancel-posting").click(function() {
          document.getElementById("draft-alert").innerHTML = "";
        })

        // Load dynamically down the page
        // $(window).scroll(function() {
        //   if (high > 0) {
        //     if($(window).scrollTop() == $(document).height() - $(window).height()) {
        //       load();
        //     }
        //   }
        // });


        // HANDLING SEARCHES
        var foundUsers;
        var foundPosts;

        $("#askben-search").on("input", function () {
          $('.search-item').remove();
          $("#askben-search-see-more").hide();
          if ($("#askben-search").val().trim().length !== 0) {
            $.ajax({
              type: "POST",
              url: "/search",
              data: {
                content: $("#askben-search").val(),
                num_results: 5,
                new_page: false
              },
              success: function (data) {
                foundUsers = data.foundUsers;
                console.log('USERS HERE')
                console.log(foundUsers);

                foundPosts = data.foundPosts;
                console.log('POSTS HERE');
                console.log(foundPosts);

                if (foundPosts !== null) {
                  if (foundPosts.length > 0) {
                    for (var i = foundPosts.length - 1; i >= 0; i--) {
                      $('#askben-search-dropdown').prepend('<div class="dropdown-item card search-item post-result"'
                        + 'reputation="0" toggled="0" style="padding:0"> <div class="card-body ' +
                        'card-head text-justify"><a style="display:none">(#' + (i+1) + ')</a> <h5 class="card-link card-col card-question" ' +
                        'href="#">' + foundPosts[i].header + '</h5> <p class="card-text card-col " ' +
                        'href="#">' + foundPosts[i].email + '</p> <p class="card-text card-col">' +
                        foundPosts[i].content + '</p> <div> </div> </div> </div>');
                    }

                    $('.post-result').click(function (event) {
                      event.preventDefault();
                      console.log("post selected");
                      console.log($(this).find("a").text());
                      var i = parseInt($(this).find("a").text().substring(2, 3)) - 1;
                      console.log("post #: " + i);
                      window.location.href = ("/viewPost/" + foundPosts[i].post_id);
                    });

                  }
                } else {
                  console.log("no posts found");
                }

                if (foundUsers !== null) {
                  if (foundUsers.length > 0) {
                    for (var i = foundUsers.length - 1; i >= 0; i--) {
                      if (foundUsers[i].username === "undefined") continue;
                      $('#askben-search-dropdown').prepend("<a class='dropdown-item search-item' " +
                        "href='#'>"
                        +foundUsers[i].username +"</a>");
                    }
                  }
                } else {
                  console.log("no users found");
                }

                if (foundPosts.length > 0 || foundUsers.length > 0){
                  $("#askben-search-see-more").show(100);
                }
              }
            });

          }
        });

        $('#askben-search-btn').click(function (event) {
          event.preventDefault();
          if ($("#askben-search").val().trim().length !== 0) {
            console.log("search button clicked");
            window.location.href = ("/viewSearch/" + $("#askben-search").val());
          }
        });

        $('#askben-search-see-more').click(function (event) {
          event.preventDefault();
          if ($("#askben-search").val().trim().length !== 0) {
            console.log("see more button clicked");
            window.location.href = ("/viewSearch/" + $("#askben-search").val());
          }

        });

        $("#askben-search-see-more").hide();

      });

    </script>

    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home"><img src="/assets/ben_frank.png" style="width: 50px; height: 45px;"></a>
        <div class="collapse navbar-collapse" id="navbarText" >
          
          <ul class="main-nav navbar-nav mr-auto">
            <li class="home nav-item">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
              <div id="notification-list" class="dropdown">
                <a id="dropdownMenuButton" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notifications</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <ul id="notifications" style="float: left; padding-left: 0px;">
                  </ul>
                </div>
              </div>

            </li>

            <li class="nav-item">
              <form class="navbar-form">
                <div class="form-group form-inline dropdown show">
                  <input type="search" class="form-control dropdown-toggle" id="askben-search" placeholder="search" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">
                  <input type="image" id="askben-search-btn" alt="sch" src="https://png.icons8.com/windows/50/000000/search.png" width="20px" style="max-width:50%; margin-left: 2px; height: auto">

                  <div class="dropdown-menu" id="askben-search-dropdown" aria-labelledby="dropdownMenuButton">
                    <div class="btn btn-info" id="askben-search-see-more" style="width:100%">
                      <h6 class="" href="#">See More</h6>
                    </div>
                  </div>
                </div>
              </form>
            </li>
          </ul>

          <span class="navbar-text">
            <form method="post" action="/logout">
              <button type="submit" class="btn btn-light">Signout</button>         
            </form>
          </span>

        </div>
      </nav>
    </div>

    <div class="container-fluid background_home">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-12"> 

          <div class="feed-text feed-title"> 
            <div style="float: left;"> <h5 class="feed-text">Feed</h5> </div>
          </div>
          
          <div class="feed-control nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="filter-option feed-text nav-link" id="v-pills-earliest-tab"  href="/home/earliest"  aria-controls="v-pills-home" aria-selected="true">Most Recent</a>
            <a class="filter-option feed-text nav-link" id="v-pills-oldest-tab" href="/home/oldest" role="tab" aria-controls="v-pills-profile" aria-selected="false">Oldest</a>
            <a class="filter-option feed-text nav-link" id="v-pills-highest-tab" href="/home/highestRated" role="tab" aria-controls="v-pills-messages" aria-selected="false">Most Popular</a>
            <a class="filter-option feed-text nav-link" id="v-pills-lowest-tab" href="/home/lowestRated" role="tab" aria-controls="v-pills-messages" aria-selected="false">Least Popular</a>
            <!-- <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filter
              <span class="caret"></span></a>
              <ul class="dropdown-menu" id="filter-options">
                <li><a href="/home">Earliest</a></li>
                <li><a href="/home">Oldest</a></li>
                <li><a href="/home">Highest Rated</a></li> 
                <li><a href="/home">Lowest Rated</a></li> 
              </ul>
            </li> -->
          </div>
        </div>
        
        <div id="base-container" class="col-md-auto col-sm-4 col-xs-12"> 

          <div class="modal" tabindex="-1" role="dialog" id = "post-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title feed-text"> Post a new question </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="feed-text">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/postQuestion" method="post">
                    <input class="form-control feed-text modal-margins" id="input-question" placeholder="Ask your question here" name="question">
                    <input class="form-control feed-text modal-margins" id="input-expl" placeholder="Add further information here" name="details">
                </div>
                <div class="modal-footer">
                    <div>
                      <input type="checkbox" id="anon-check" name="anon-checkbox">
                      <label for="anon-check" class="card-col">Go Anon</label>
                    </div>            
                    <button type="submit" class="post-btn btn btn-primary"> Post </button>
                    <button type="button" class="post-btn btn btn-warning" id="save-draft"> Save Draft </button>
                    <button type="button" class="post-btn btn btn-success" id="load-drafts" data-toggle="modal" data-target="#drafts-modal"> Load Drafts </button>
                    <button type="button" class="btn btn-secondary" id="cancel-posting" data-dismiss="modal">Cancel</button>
                  </form>
                </div>
                <h6 id="draft-alert" class="form-text errorMessage moveup"> </h6>
              </div>
            </div>
          </div>

          <div class="modal" tabindex="-1" role="dialog" id = "edit-question-modal" style="position: fixed; top: 25%; left: 7%;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title feed-text"> Edit the Question </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="feed-text">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/editQuestion" method="post">
                    <input class="form-control feed-text modal-margins" id="input-question-edit" placeholder="Ask your question here" name="question" >
                    <input class="form-control feed-text modal-margins" id="input-expl-edit" placeholder="Add further information here" name="details">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="post-btn btn btn-primary"> Post </button>
                    <button type="button" class="post-anon-btn btn btn-primary" data-dismiss="modal"> Post Anonymously </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="modal" tabindex="-1" role="dialog" id = "drafts-modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title feed-text"> Previous Saved Drafts </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="feed-text">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <h6 class="color-black">Select the draft you would like to load:
                    <ul id="drafts-list" style="float: left; padding-left: 0px;">
                    </ul>
                </div>
                <div class="modal-footer">      
                    <button id="select-draft" type="button" class="post-btn btn btn-primary" data-dismiss="modal"> Select Draft </button>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <div class="modal" tabindex="-1" role="dialog" id = "friendAccept-modal" style="position: fixed; top: 25%; left: 7%;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title feed-text"> You have a new friend request. </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="feed-text">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="accept-btn btn btn-primary" data-dismiss="modal"> Accept </button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Ignore</button>
                </div>
              </div>
            </div>
          </div>


          <div class="modal" tabindex="-1" role="dialog" id = "ans-modal" style="position: fixed; top: 25%; left: 7%;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title feed-text"> Post an answer </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="feed-text">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/postAnswer" method="post">
                    <input class="form-control feed-text modal-margins" id="input-ans" placeholder="Answer here" name="ans_content">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="ans-btn btn btn-primary" data-dismiss="modal"> Answer </button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>


          <ul class="posts">

            <div class="question-card card" style="width: 40rem;">
              <div class="card-body">
                <div class="question-input input-group mb-3">
                  <input id = "post-text" type="text" class="form-control" placeholder="Post a question" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#post-modal"> 
                      Post  
                    </button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card card-spacing" style="width: 40rem; position: relative;" reputation="0" toggled="0">

              <div class="card-body card-head">
                <a class="card-link card-col card-question" href="#"> A Sample Question </a>
                <p class="card-text card-col"> A Sample Description or Explanation </p>
              </div>              

              <div class="card-col tags">
                <ul id="tags-list" style="padding-left: 14px;">
                  <button class=" btn btn-sm tag" style="margin-left: 6px; margin-top: 10px; padding:4px; background:black; border-radius: 10px; font-size: 12px;" type="button" data-toggle="modal" data-target="#tags-modal"> #faketag </button>
                </ul>
                
                <div> <hr style="margin-bottom:0;padding-bottom:0; width: 600px;" >  </div>
              </div>

              <div class="card-body vote">
                <div class="container-fluid" style="padding: 0px; width: 38px; float: left;"> 
                  <div> <a id="upvote" class="card-link link-size arrow arrow-up" style="display: block; margin-bottom: 8px; cursor: pointer;"> </a> </div>
                  <div> <a id="downvote" class="card-link link-size arrow arrow-down" style="display: block; cursor: pointer;"> </a> </div>
                </div>

                <div class="container-fluid" style="height: 50px; width: 50px; display: inline-block; padding-left: 3px;">
                  <h4 id="vote-count" class="card-text card-col" style="position: relative; top: 18%"> 0 </h4>
                </div>

                 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-comments" aria-expanded="false" aria-controls="collapse-comments" style="float: right; margin-top: 8px; height: 35px;">
                  Answers
                 </button>

                 <button type="button" class="btn btn-primary answer" style="float: right; margin-top: 8px; height: 35px; margin-right: 3px;" data-toggle="modal" data-target="#ans-modal"> Add Answer </button> 

              </div>
              <div class="collapse" id="collapse-comments">
                <div class="card-footer card-content" style="padding: 0px;">
                  <div class="card" style="width: 40rem; padding: 0px;">
                    <div class="card-footer card-content" style="padding: 0px;">
                      <div class="card" style="width: 40rem; padding: 0px;">
                        <div class="card-body" style="padding: 10px; padding-top: 20px; padding-bottom: 20px;">
                          <div class="question-input input-group mb-3" style="color: black">
                            <ul class="comments">

                              <!-- Insert list of comments here -->
                              <div> <img src="/assets/ben_frank.png" style="width: 50px; height: 50px;"> <div class="card" style="width: 30rem; padding: 0px; color: black; display: inline-block; margin-bottom: 20px;"> Sample Comment </div>  </div>;

                              <div> <img src="/assets/ben_frank.png" style="width: 50px; height: 50px;"> <div class="card" style="width: 30rem; padding: 0px; color: black; display: inline-block; margin-bottom: 20px;"> Sample Comment Two </div>  </div>;

                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              

            </div>

          </ul>
          
          <div> 
            <button id="see-more" type="button" class="btn btn-light" style="color: black; align-self: center; position: absolute; left: 330px; margin-bottom: 20px;"> See More </button>
          </div>
        </div>
      
        <div class="col-lg-3 col-sm-4 col-xs-12"> 
          <div style="margin-top: 50px;"> 
            <div style="float: left;"> <h5 class="feed-text">Trending</h5> </div>
            <div style="position: absolute; top: 80px;">
              <ul id="trending-list" style="float: left; padding-left: 0px;">
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>

     <script>
        var trending = <%- JSON.stringify(trending) %>;
        console.log('Trending:');
        console.log(trending);
        
        // Add trending topics
        for (i = 0; i < trending.length; i++) {
          var num = i+1;
          var tag = trending[i].tag.replace('#','');
          var topic = "<div style='color: black;'>" + num + ".  " + "<a href='/tags/"+ tag +"'> " + trending[i].tag + " </a> </div>"
          console.log(trending[i].tag);
          $('#trending-list').append(topic);
        }

        var userDrafts = <%- JSON.stringify(userDrafts) %>;
        console.log('Can retrieve drafts');
        console.log('User Drafts are:', userDrafts);

          // Add userDrafts to drafts-list
          for (var i = 0; i < userDrafts.length; i++) {
            console.log(userDrafts[i], " ", userDrafts[i].header, " ", userDrafts[i].content);
            var radioButton = '<div class="radio-button"> <label class="color-black"><input type="radio" class="radioButton" id="radio' + i + '" name="radioButton' + i + '">' + userDrafts[i].header + ' | ' + userDrafts[i].content + '</label> </div>';
            $('#drafts-list').append(radioButton);
          }

        $('#select-draft').on('click', function() {
          // If draft selected, find which radio box is checked, and load it into textbox.
          console.log("selected a draft");
          $('#drafts-list input').each(function(index) {
            //console.log(document.getElementById('gender_Male').checked)
            console.log($('input[name=radioButton'+ index +']:checked').val());
            console.log($(this).parent().text());
            if ($('input[name=radioButton'+ index +']:checked').val() === 'on') {
              console.log("ahaha im here");
              var text = $(this).parent().text();
              var res = text.split(" | ");
              console.log(res[0]);
              console.log(res[1]);
              $('#input-question').val(res[0]); 
              $('#input-expl').val(res[1]); 
            }
          });
        });

    </script>

    <script>
    $(".filter-option").click(function(e){
        var filter_selected = $(this).text();
        
        if (filter_selected === "Most Recent") {
          filter_selected = "Earliest";
        } else if (filter_selected === "Oldest") {
          filter_selected = "Oldest";
        } else if (filter_selected === "Most Popular") {
          filter_selected = "Highest Rated";
        } else if  (filter_selected === "Least Popular") {
          filter_selected = "Lowest Rated";
        }

        console.log(filter_selected);

        $.ajax({
          type: "POST",
          url: '/filter',
          data: {filter: filter_selected}
        }); 
    });
    </script>
  </body>